header{
    width:100%;
    background : #ccffe5;
    color : #99ccff;
    text-align: center;
}

td
{
    border:1px solid black;
}

.divData{
    background: #99ccff;
}

button{
    display:block;
}

.enteteGrid{
    border : 2px solid black;
}

.container {
    width: 95%;
    height: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 2%;
}
#divAffichagePartenaria {
    background: #99ccff;
    padding :1%;
    width: 75%;
    height: 95%;
    float: left;
    border : 1px solid #ccffe5;
}
#divButtons {
    width: 20%;
    padding: 1%;
    margin-left: 78%;
    height: 95%;
    background: #e6ffff;
}