node_modules/*
**/build.js*
**/build.css*
**/*.min.js
dist/*
**/thirdparty/*
**/vendor/*
**/vendors/*

# TODO: Remove when there is no more Ember.js code
www/js/app-ember-to-be-removed-when-possible.js
www/js/components/*
www/js/controllers/*
www/js/helpers/*
www/js/mixins/*
www/js/routes/*
www/js/router.js
www/js/app.js
